block navigation
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        ul.nav
          li.logo
            a(href="/")
              img(src="/images/logo2.png", style="height:25px")

block footer
  div.navbar.navbar-fixed-bottom
    div.navbar-inner
      div.container
        div.nav-collapse.collapse
          ul.nav

            li
              a(href="#") &copy; 2012 ETS Corp