block navigation
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        ul.nav
          li.brand
            a(href="/") EscaTracker
              

block footer
  div.navbar.navbar-fixed-bottom
    div.navbar-inner
      div.container
        div.nav-collapse.collapse
          ul.nav

            li
              a(href="#") &copy; 2012 ETS Corp