doctype 5
html
  head

    title= title

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-overrides.css")
    link(rel="stylesheet", href="/stylesheets/nanoscroller.css")
    link(rel="stylesheet", href="/stylesheets/smiley-additions.css")
    link(rel="stylesheet", href="/stylesheets/app.css")
    

    script(src="/javascripts/jquery-1.8.2.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.debounce-1.0.5.js")
    script(src="/javascripts/jquery.nanoscroller.min.js")
    script(src="/javascripts/store.min.js")
    script(src="/javascripts/cookieworker.js")
    script(src="/javascripts/app.js")

    

  body

    div#followUpModal.modal.hide.fade
      div.modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button") &times;
        h3 Followed Up
      div.modal-body
        div.control-group
          label.control-label(for="nextFollowUpDate") Next Follow Up Date:
          div.controls
            input#nextFollowUpDate.text(type="text", placeholder="Month/Day/Year", name="nextFollowUpDate")
      div.modal-footer
        a.btn(href="#", data-dismiss="modal") Cancel
        a#updateButton.btn.btn-primary(href="#") Update

    div#resolveModal.modal.hide.fade
      div.modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button") &times;
        h3 Resolved!
      div.modal-footer
        a.btn(href="#", data-dismiss="modal") Cancel
        a#resolveButton.btn.btn-primary(href="#") Confirm

    div#createModal.modal.hide.fade
      div.modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button") &times;
        h3 Create an Issue
      div.modal-body
        div.control-group
          label.control-label(for="issueTitle") Issue Title:
          div.controls
            input#issueTitle.text.input-xlarge(type="text", placeholder="Issue Title", name="issueTitle")
          label.control-label(for="issueEscTo") Contact:
          div.controls
            input#issueEscTo.text(type="text", placeholder="Supervisor", name="issueEscTo")
          label.control-label(for="issueFollowUpDate") Follow Up Date:
          div.controls
            input#issueFollowUpDate.text(type="text", placeholder="Month/Day/Year", name="issueFollowUpDate")
          label.control-label(for="issueLastFollowUpDate") Previous Follow Up Date:
          div.controls
            input#issueLastFollowUpDate.text(type="text", placeholder="Month/Day/Year", name="issueLastFollowUpDate")
      div.modal-footer
        a.btn(href="#", data-dismiss="modal") Cancel
        a#createButton.btn.btn-primary(href="#") Create

    div#editModal.modal.hide.fade
      div.modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button") &times;
        h3 Edit an Issue
      div.modal-body
        div.control-group
          label.control-label(for="editIssueTitle") Issue Title:
          div.controls
            input#editIssueTitle.text.input-xlarge(type="text", placeholder="Issue Title", name="editIssueTitle")
          label.control-label(for="editIssueEscTo") Contact:
          div.controls
            input#editIssueEscTo.text(type="text", placeholder="Supervisor", name="editIssueEscTo")
          label.control-label(for="editIssueFollowUpDate") Follow Up Date:
          div.controls
            input#editIssueFollowUpDate.text(type="text", placeholder="Month/Day/Year", name="editIssueFollowUpDate")
      div.modal-footer
        a.btn(href="#", data-dismiss="modal") Cancel
        a#editButton.btn.btn-primary(href="#") Save

    block navigation
    
    block content

    block footer
