div.span1#sidebar
  button.btn.btn-info.addButton Create Issue

div.span10#main
  div#issueDiv
    table#issueTable.table.table-bordered.table-condensed
      thead
        th Issue
        th Contact
        th Previous
        th Next
        th Follow Up
        th Edit
        th Resolve
       each content in locals.tableContents
         .content
           include tableRow